section#services{
    margin-top: 8rem;
}

.services__container{
    display: grid;
    grid-template-columns: 25% auto;
    gap: 2rem;
}

.services__left{
    background: var(--color-primary);
    padding: 2rem;
    color: var(--color-light);
}

.services__left h1{
    color: var(--color-white);
    font-size: 7rem;
    font-weight: 600;
}

.services__left h4{
    color: var(--color-white);
    line-height: 1.4;
    font-weight: 600;
}

.services__left small{
    font-weight: 600;
}

.services__right h2{
    margin-bottom: 2rem;
}

.services__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services__card{
    background: var(--color-light);
    padding: 4rem 2rem;
    cursor: default;
    transition: all 400ms ease;
}

.services__card:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

.services__card:hover * {
    color: var(--color-white);
    transition: all 400ms ease;
}

.services__card-icon{
    font-size: 2rem;
}

.services__card h5{
    margin: 1rem 0;
}

.services__card a{
    color: var(--color-primary);
}

.services__card:hover a{
    margin-left: 1rem;
}