#portfolio{
    background: var(--color-light);
}

.portfolio__head{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.portfolio__head h3{
    width: 25%;
}

.portfolio__head-right{
    width: 49%;
}

.portfolio__head-right a{
    color: var(--color-primary);
    margin-top: 1.4rem;
    display: inline-block;
    transition: all 400ms ease;
}

.portfolio__head-right a:hover{
    margin-left: 1rem;
}

.portfolio__projects{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
}

.portfolio__project{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.portfolio__project-img{
    height: 12rem;
    display: block;
    border: 1rem solid var(--color-white);
    overflow: hidden;
    box-shadow: 0 0 1.4rem var(--color-primary-variant);
    transition: all 400ms ease;
}

.portfolio__project-img:hover{
    box-shadow: none;
}

.portfolio__project-img:hover img{
    transform: 0;
    transition: all 2000ms ease;
}

.portfolio__CTA{
    display: flex;
    gap: 1rem;
}

.portfolio__project-img:hover img{
    transform: translateY(calc(-100% + 10rem));
}

#specialbtn:hover{
    border: 1px solid var(--color-black);
}

@media screen and (max-width:1024px){
    .portfolio__head h3{
        width: 40%;
    }
    .portfolio__head-right{
        width: auto;
    }
}

@media screen and (max-width:768px){
    .portfolio__projects{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:425px){
    .portfolio__head{
        display: flex;
        flex-direction: column;
    }
}