#contact{
    background: var(--color-primary);
    color: var(--color-white);
    margin: 0;
}
.contact__left{
    width: 50%;
}

.contact__container{
    display: flex;
    gap: 8rem;
    font-size: 0.9rem;
}

.contact__container h2{
    color: var(--color-white);
}

.contact__container p{
    margin: 1rem 0rem 2rem;
}

.contact__socials{
    display: flex;
    gap: 1rem;
}

.contact__socials a{
    color: var(--color-white);
    font-size: 1.3rem;
    transition: all 400ms ease;
}

.contact__socials a:hover{
    color: var(--color-black);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

#btn1:hover{
    border: 1px solid var(--color-black);
}

form input,textarea{
    padding: 1rem;
    width: 25rem;
}

@media screen and (max-width: 2560px){
    form input,textarea{
        width: 50rem;
    }
}
@media screen and (max-width: 1440px) {
    form input,textarea{
        width: 30rem;
    }
}
